{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block main %}
  <div class="container-xl">
    <div class="row pb-3">
      <div class="col-12 col-md-6 col-lg-4 pb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">Text</p>
            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">Text</p>
            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">Text</p>
            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">Text</p>
            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">Text</p>
            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Title</h3>
            <p class="card-text">Text</p>
            <a name="" id="" class="btn btn-primary" href="#" role="button">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
