{% extends 'webapp/calculator/_calculator_base.html' %}

{% block calculator_title %}Molecular Weight Calculator{% endblock %}

{% block calculator_form %}
<form method="post" action="{% url 'molecular_weight' %}">
  {% csrf_token %}
  {% for field in form %}
    {% include 'webapp/calculator/_field_row.html' with field=field %}
  {% endfor %}
  <button type="submit" class="btn btn-primary mb-4">Calculate</button>
</form>
{% endblock %}

{% block calculator_result %}
  {% if result %}
    <h4>Results:</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Molecule</th>
          <th scope="col">Molecular Weight (g/mol)</th>
        </tr>
      </thead>
      <tbody>
        {% for formula, weight in result.items %}
          <tr>
            <td>{{ formula }}</td>
            <td>{{ weight }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}
