{% extends 'webapp/calculator/_calculator_base.html' %}

{% block calculator_title %}Molecular Weight Calculator{% endblock %}

{% block calculator_form %}
<form method="post" action="{% url 'molecular_weight' %}">
  {% csrf_token %}
  {% for field in form %}
    {% if field.name == 'formula' %}
      {% include 'webapp/calculator/_tag_input_field.html' with field=field %}
    {% else %}
      {% include 'webapp/calculator/_field_row.html' with field=field %}
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-primary mb-4">Calculate</button>
</form>
{% endblock %}

{% block calculator_result %}
  {% if result %}
    <div class="col-xl-6 col-lg-6 col-md-12 mb-3">
      <div class="card result-card h-100">
        <div class="card-body">
          <h4>Results:</h4>
          <div id="mw-result">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Molecule</th>
                  <th scope="col">Molecular Weight (g/mol)</th>
                </tr>
              </thead>
              <tbody>
                {% for formula, weight in result.items %}
                  <tr>
                    <td>{{ formula }}</td>
                    <td>{{ weight }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            onclick="copyToClipboard('#mw-result', this)"
          >
            Copy to Clipboard
          </button>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
