{% extends 'webapp/calculator/_calculator_base.html' %}

{% block calculator_title %}Chemical Reaction Balancer{% endblock %}

{% block calculator_form %}
<form method="post" action="{% url 'reaction_balancer' %}">
  {% csrf_token %}
  {% for field in form %}
    {% if field.name == 'reactant' or field.name == 'product' %}
      {% include 'webapp/calculator/_tag_input_field.html' with field=field %}
    {% else %}
      {% include 'webapp/calculator/_field_row.html' with field=field %}
    {% endif %}
  {% endfor %}
  <button type="submit" class="btn btn-primary">Calculate</button>
</form>
{% endblock %}

{% block calculator_result %}
  {% if result %}
    <div class="col-xl-6 col-lg-6 col-md-12 mb-3">
      <div class="card result-card h-100">
        <div class="card-body">
          <div id="reaction-result">
            <h4>Result:</h4>
            <p>{{ result|safe }}</p>
          </div>
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            onclick="copyToClipboard('#reaction-result', this)"
          >
            Copy to Clipboard
          </button>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
