{% extends 'webapp/calculator/_calculator_base.html' %}

{% block calculator_title %}Chemical Reaction Balancer{% endblock %}

{% block calculator_form %}
<form method="post" action="{% url 'reaction_balancer' %}">
  {% csrf_token %}
  {% for field in form %}
    {% include 'webapp/calculator/_field_row.html' with field=field %}
  {% endfor %}
  <button type="submit" class="btn btn-primary">Calculate</button>
</form>
{% endblock %}

{% block calculator_result %}
  {% if result %}
    <div class="mt-4" id="reaction-result">
      <h4>Result:</h4>
      <p>{{ result|safe }}</p>
    </div>
    <button
      type="button"
      class="btn btn-outline-secondary btn-sm"
      onclick="copyToClipboard('#reaction-result', this)"
    >
      Copy to Clipboard
    </button>
  {% endif %}
{% endblock %}
